
.card {
    position: relative;
    width: 30rem;
    margin: 7% auto;
}

.imgDetails{
    width: 100%;
    height: 30rem;
}

h1 {
    text-align: center;
}

.detailList{
    display: flex;
    justify-content: center;
   
}

.ulClass {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 2.5rem;
}

.ulClass li{
    display: flex;
    margin: 0.5rem 0 0.5rem 1rem;  
}

button {
    justify-content: end;
}
