.footer{
    height: 12rem; 
    background-color: black;
    display: inline;
    align-items: center;
}
.footerIconos{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: yellow;
}
a{
    color: yellow;
    font-size: 1.2rem;
}

.slogan{
    color: yellow;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}
.fa-jedi-order{
    margin: 0 0.3rem 0 0.3rem;
    color: yellow;
}
