body{
    background-image: url(https://i.pinimg.com/originals/7e/9e/89/7e9e8901828d51b8c6e5a8c9920b98a3.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}

.card{
    background-color: #ffffff47;
    color: white;
    border: 1px solid;
    border-left: white;
    border-right: white;
}